.bookings{

    border: 1px solid rgb(194, 185, 185);
    }
    .bookings p{
        margin-bottom: 20px;
    }
    
    @media only screen and (max-width: 600px){
        .about h1{
            margin-bottom: 20px;
        }
        .about p{
            font-size: 15px;
            font-weight: 500;
        }
    }