.review-swiper{
  height: 300px !important;
width: 100%;
  border: 1px solid rgb(201, 198, 198);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}
.review-row{
  padding: 0px 100px;
}

.see{
  font-family: "Qwitcher Grypen", cursive;
  font-size: 70px;
  font-weight: 700;
margin-bottom: -40px;
}
.review_data .pic{
  height: 300px;
  width: 100%;
}
.heading{
  margin-bottom: 30px;
}
.rating{
  z-index: 2;
  font-size: 15px!important;
}

@media only screen and (max-width: 600px)
{

  .review-swiper{
    height: 250px !important;
  
    padding: 10px;
    
  
  }


  .pic{
    height: 150px!important;
    width: 300px;
  }
  .review-row{
    padding: 0px 0px;
  }
.see{
  font-size: 45px;
}
.review-para{
  margin-bottom: 30px;
  margin-left: 20px;
}
.item {
  height: 300px!important;
}

}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .see{
    font-size: 45px;
  }
  .item {
    height: 300px!important;
  }
  .review-row{
    padding: 0px 0px;
    position: relative;
  }
  .review-para{
  margin-top: 100px; }

 
}