
.acc-row{
    padding: 100px;
}
.but{
    margin-top: 30px;
    text-align: center;
}

.account{
   background-color: rgb(244, 246, 247);
   border-radius: 20px;
   height: 450px;
 padding: 30px;
}
.user-logo{
    font-size: 30px!important;
    margin-bottom: 30px;
}
.account h1{
    font-size: 24px;
    font-weight: 600;
    color: rgb(104, 50, 50);
}

.order-acc{
    background-color: rgb(244, 246, 247);
    margin-left: 100px;
    border-radius: 20px;

}
.order-data{
    background-color: aliceblue;
    height: 40px;
display: flex;
align-items: center;
padding-left: 20px;}

.booking-details{
    background-color: white;
    border-radius: 5px;
    
}
.booking-details h6{
    font-size: 18px;
    font-weight: 500;
    
}
/* Make the user account section fixed */

  
  /* Make the order section scrollable */
  .account {
  
        position: sticky; /* Keeps the element fixed when scrolling */
        top: 90px; /* Adjust the distance from the top of the viewport */
        max-height: calc(100vh - 40px); /* Ensures the div does not extend beyond the viewport */
        overflow-y: auto; /* Adds scroll if content exceeds the available space */
  
  
  }
  
@media only screen and (max-width: 600px){
    .account {
  
        position:relative;
        top: 40px; 
      
  }
  
    .acc-row{
        padding: 50px;
    }
  
    .account{
   
       height: 370px;
     padding: 20px;
    }
    .user-logo{
        font-size: 20px!important;
        margin-bottom: 30px;
    }
    .account h1{
        font-size: 24px;
        font-weight: 600;
        color: rgb(104, 50, 50);
    }
    
    .order-acc{
       
        margin-left: 0px;

        margin-top: 50px;
    
    }
    

}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    
.acc-row{
    padding: 20px 50px;
}
.but{
    margin-top: 30px;
    text-align: center;
}

.account{
  width: 300px;
   height: 400px;
 padding: 30px;

}
.user-logo{
    font-size: 30px!important;
    margin-bottom: 30px;
}
.account h1{
    font-size: 24px;
    font-weight: 600;
    color: rgb(104, 50, 50);
}

.order-acc{
    background-color: rgb(244, 246, 247);
    margin-left: 0px;
  margin-top: 100px;
  width: 100%;

}
.order-data{
    background-color: aliceblue;
    height: 40px;
display: flex;
align-items: center;
padding-left: 20px;}

.booking-details{
    background-color: white;
    border-radius: 5px;
    
}
.booking-details h6{
    font-size: 18px;
    font-weight: 500;
    
}
/* Make the user account section fixed */

  
  /* Make the order section scrollable */
  .account {
  left: 30%;
     position: relative;
  
  }
  
}