.dashboard{
    display: flex;
    gap: 20px;

}
.body{
    background-color: aliceblue;
    padding: 20px;
}
.dashboard-content{
    background-color: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;

    justify-content: space-between;
}
.dashbar{
    display: none;
}
@media only screen and (max-width: 600px){
  .dashbar{
   display: block;
  }  
  .body{
    padding: 0px;
  }
}

