.dashboard{
    display: flex;
    gap: 20px;

}
.body{
    background-color: aliceblue;
    padding: 20px;
}
.dashboard-content{
    background-color: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;

    justify-content: space-between;
}
.dashbar{
    display: none;
}
@media only screen and (max-width: 600px){
  .dashbar{
   display: block;
  }  
}

/* .container{
    padding: 100px;
   
   }
   .head{
       font-size: 30px;
       color: rgb(198, 125, 29);
       font-weight: 600;
   }
   
   
   .list{
      
    border-radius: 0!important;
       width: 240px;
       height: 50px;
       padding-left: 30px;
       font-size: 17px;
   border-right: none!important;
       font-weight: 600;
   }
   .menu{
       padding:  0px;
   }
   .admin{
       justify-content: space-evenly;
       align-items: center;
      
   }
   .user_number{
       padding-top: 50px;
       font-weight: 600;
       font-size: 40px;
       height: 200px;
       width: 99%;
       background-color:lightyellow;
   
   }
   .account{
       width: 30%;
       border: 1px solid black;
   }
   .list_items{
       border-radius: 0%!important;
       width: 340px;
   }
   .details_total{
       width: 60%;
       border: 1px solid lightgray;
   }
     */